html {
    background-color:gray;
}

#main_header {
    color:#dc143c;
}

.index_body {
    text-align:center;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}

li {
    display:inline;
    float:left;
}

li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

li a:hover {
    background-color:#6a5acd;
}

li a:active {
    background-color:#1e90ff;
}

.content_a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    background-color:#6a5acd;
}
